@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&family=Rajdhani:wght@400;700&display=swap");

body {
  background-image: url("./images/photo-background.jpg");
  background-size: cover;
  height: 100vh;
}

img {
  width: 150px;
  height: auto;
}

/* customizable snowflake styling */
.snowflake {
  color: #fff;
  font-size: 1em;
  font-family: Arial;
  text-shadow: 0 0 1px #000;
}

@-webkit-keyframes snowflakes-fall {
  0% {
    top: -10%;
  }
  100% {
    top: 100%;
  }
}
@-webkit-keyframes snowflakes-shake {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(80px);
    transform: translateX(80px);
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}
@keyframes snowflakes-fall {
  0% {
    top: -10%;
  }
  100% {
    top: 100%;
  }
}
@keyframes snowflakes-shake {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(80px);
  }
  100% {
    transform: translateX(0px);
  }
}
.snowflake {
  position: fixed;
  top: -10%;
  z-index: 9999;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  -webkit-animation-name: snowflakes-fall, snowflakes-shake;
  -webkit-animation-duration: 10s, 3s;
  -webkit-animation-timing-function: linear, ease-in-out;
  -webkit-animation-iteration-count: infinite, infinite;
  -webkit-animation-play-state: running, running;
  animation-name: snowflakes-fall, snowflakes-shake;
  animation-duration: 10s, 3s;
  animation-timing-function: linear, ease-in-out;
  animation-iteration-count: infinite, infinite;
  animation-play-state: running, running;
}
.snowflake:nth-of-type(0) {
  left: 1%;
  -webkit-animation-delay: 0s, 0s;
  animation-delay: 0s, 0s;
}
.snowflake:nth-of-type(1) {
  left: 10%;
  -webkit-animation-delay: 1s, 1s;
  animation-delay: 1s, 1s;
}
.snowflake:nth-of-type(2) {
  left: 20%;
  -webkit-animation-delay: 6s, 0.5s;
  animation-delay: 6s, 0.5s;
}
.snowflake:nth-of-type(3) {
  left: 30%;
  -webkit-animation-delay: 4s, 2s;
  animation-delay: 4s, 2s;
}
.snowflake:nth-of-type(4) {
  left: 40%;
  -webkit-animation-delay: 2s, 2s;
  animation-delay: 2s, 2s;
}
.snowflake:nth-of-type(5) {
  left: 50%;
  -webkit-animation-delay: 8s, 3s;
  animation-delay: 8s, 3s;
}
.snowflake:nth-of-type(6) {
  left: 60%;
  -webkit-animation-delay: 6s, 2s;
  animation-delay: 6s, 2s;
}
.snowflake:nth-of-type(7) {
  left: 70%;
  -webkit-animation-delay: 2.5s, 1s;
  animation-delay: 2.5s, 1s;
}
.snowflake:nth-of-type(8) {
  left: 80%;
  -webkit-animation-delay: 1s, 0s;
  animation-delay: 1s, 0s;
}
.snowflake:nth-of-type(9) {
  left: 90%;
  -webkit-animation-delay: 3s, 1.5s;
  animation-delay: 3s, 1.5s;
}
/* Demo Purpose Only*/
.demo {
  font-family: "Raleway", sans-serif;
  color: #fff;
  display: block;
  margin: 0 auto;
  padding: 15px 0;
  text-align: center;
}
.demo a {
  font-family: "Raleway", sans-serif;
  color: #000;
}
/* .logo {
  width: 30%;
  height: auto;
}

.fsa-logo {
  width: 25%;
  float: left;
}
 */
/* .christmas {
  width: 80%;
  height: 90px;
  object-fit: cover;
  margin-left: 150px;
  margin-top: -50px;
  opacity: 0.5;
} */

.fsa-times-title {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  margin-top: -70px;
  margin-bottom: -70px;
}

.fsa-times-subheading {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  margin-top: -30px;
}

.month-volume {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  margin-top: -30px;
}

.fsa-times-title h1 {
  font-family: "Rajdhani", sans-serif;
  color: white;
  font-style: bold;
  font-size: 90px;
  text-align: center;
}

.fsa-times-subheading h2 {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-style: normal;
  font-size: 30px;
}

.month-volume h3 {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-style: italic;
  font-size: 15px;
}

.content ul {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 1.8;
}

.content p {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 1.8;
  margin-top: 20px;
}

.box {
  width: 30%;
  margin: auto;
  background: rgba(255, 255, 255, 0.2);
  padding: 35px;
  border: 2px solid #fff;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
  position: relative;
  top: 50px;
}

.button {
  font-size: 1em;
  padding: 10px;
  color: #fff;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

.button:hover {
  background: #4c267c;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 1;
}

.overlay:target {
  visibility: visible;
  position: sticky;
  top: 0;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #ffff;
  border-radius: 5px;
  width: 50%;
  font-family: "Montserrat", sans-serif;
  position: relative;
}

.popup h2 {
  margin-top: 0;
  font-family: "Rajdhani", sans-serif;
}

.popup h4 {
  margin-top: 0;
  font-family: "Rajdhani", sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
}
.popup .close:hover {
  color: #4c267c;
}

.popup .content {
  overflow: visible;
  opacity: 1;
}

.contact {
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  font-size: 12px;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 75px;
  position: relative;
}

.media {
  display: flex;
  flex-wrap: wrap;
}

.media > * {
  flex: 1 1 250px;
}
